{% extends 'basic.html' %}

{% block content %}
<form method="POSt">
    {% csrf_token %}
    {% if not title == "" %}
        <h1>Количество приложений в папке {{ title }}: {{ data.count }}</h1>
    {% endif %}
    <input type="text" name="titleName" style="display:none;" value='{{ title }}'/>
    <table class="maintable" bordercolor="darkgray" cellspacing="2" cellpadding="15" border="1" width="100%">
        <tr class="mainTablePart">
                <td>Номер</td>
                <td>Выбрать</td>
                <td>Название</td>
                <td>Статус</td>
                <td>Дата/время добавления</td>
                <td>Последнее обновление приложения</td>
                <td>Последнее обновление статуса</td>
        </tr>
        {% for obj in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><input type="checkbox" name="dataList" value={{ obj.id }}></td>
                <td>{{ obj.app_name }}</td>
                {% if obj.status == "Опубликован" %}
                        <td>&#9989; {{ obj.status }}</td>
                {% else %}
                        <td>&#10060; {{ obj.status }}</td>
                {% endif %}
                <td>{{ obj.start_time }}</td>
                <td>{{ obj.last_update }}</td>
                <td>{{ obj.last_time }}</td>
            </tr>
        {% endfor %}
    </table>
    <input class="buttonDel" formaction="\" type="submit" value="Удалить">
    <!--<input formaction="update" type="submit" value="Обновить">-->
</form>
{% endblock %}